*__pycache__
*.pyc
data/*
**/models/*
**/results/*
pretrained/*
predictions/*
**/stanford*/*
scratch*
UnifiedData/chemprot/mapped/mech_effect.txt
UnifiedData/chemprot/mapped/mech.txt
UnifiedData/chemprot/mapped/mech/dev.json
UnifiedData/chemprot/mapped/mech/test.json
UnifiedData/chemprot/mapped/mech/train.json
UnifiedData/chemprot/mapped/mech_effect/dev.json
UnifiedData/chemprot/mapped/mech_effect/test.json
UnifiedData/chemprot/mapped/mech_effect/train.json
UnifiedData/chemprot/original/development.jsonl
UnifiedData/chemprot/original/test.jsonl
UnifiedData/chemprot/original/training.jsonl
UnifiedData/covid_anno/mapped/mech_effect.txt
UnifiedData/covid_anno/mapped/mech.txt
UnifiedData/covid_anno/mapped/mech/dev.json
UnifiedData/covid_anno/mapped/mech/test.json
UnifiedData/covid_anno/mapped/mech/train.json
UnifiedData/covid_anno/mapped/mech_effect/dev.json
UnifiedData/covid_anno/mapped/mech_effect/test.json
UnifiedData/covid_anno/mapped/mech_effect/train.json
UnifiedData/covid_anno/original/dev_bio_annotations_non_collapse.jsonl
UnifiedData/covid_anno/original/test_covid.jsonl
UnifiedData/covid_anno/original/test.keys
UnifiedData/covid_anno/original/train_bio_annotations_non_collapse.jsonl
UnifiedData/covid_anno_augment/mapped/mech_effect.txt
UnifiedData/covid_anno_augment/mapped/mech.txt
UnifiedData/covid_anno_augment/mapped/mech/dev.json
UnifiedData/covid_anno_augment/mapped/mech/test.json
UnifiedData/covid_anno_augment/mapped/mech/train.json
UnifiedData/covid_anno_augment/mapped/mech_effect/dev.json
UnifiedData/covid_anno_augment/mapped/mech_effect/test.json
UnifiedData/covid_anno_augment/mapped/mech_effect/train.json
UnifiedData/covid_anno_augment/original/dev_bio_annotations_non_collapse.jsonl
UnifiedData/covid_anno_augment/original/test_covid.jsonl
UnifiedData/covid_anno_augment/original/test.keys
UnifiedData/covid_anno_augment/original/train_bio_annotations_non_collapse.jsonl
UnifiedData/covid_anno_augmented_par/.DS_Store
UnifiedData/covid_anno_augmented_par/mapped/.DS_Store
UnifiedData/covid_anno_augmented_par/mapped/mech/dev.json
UnifiedData/covid_anno_augmented_par/mapped/mech/test.json
UnifiedData/covid_anno_augmented_par/mapped/mech/train.json
UnifiedData/covid_anno_augmented_par/mapped/mech_effect/dev.json
UnifiedData/covid_anno_augmented_par/mapped/mech_effect/test.json
UnifiedData/covid_anno_augmented_par/mapped/mech_effect/train.json
UnifiedData/covid_anno_par/.DS_Store
UnifiedData/covid_anno_par/mapped/.DS_Store
UnifiedData/covid_anno_par/mapped/mech/dev.json
UnifiedData/covid_anno_par/mapped/mech/test.json
UnifiedData/covid_anno_par/mapped/mech/train.json
UnifiedData/covid_anno_par/mapped/mech_effect/dev.json
UnifiedData/covid_anno_par/mapped/mech_effect/test.json
UnifiedData/covid_anno_par/mapped/mech_effect/train.json
UnifiedData/scierc/mapped/mech_effect.txt
UnifiedData/scierc/mapped/mech.txt
UnifiedData/scierc/mapped/mech/dev.json
UnifiedData/scierc/mapped/mech/test.json
UnifiedData/scierc/mapped/mech/train.json
UnifiedData/scierc/mapped/mech/cached/2396215478/params.json
UnifiedData/scierc/mapped/mech/cached/2396215478/UnifiedData_SLASH_scierc_SLASH_mapped_SLASH_mech_SLASH_dev.json
UnifiedData/scierc/mapped/mech/cached/2396215478/UnifiedData_SLASH_scierc_SLASH_mapped_SLASH_mech_SLASH_test.json
UnifiedData/scierc/mapped/mech/cached/2396215478/UnifiedData_SLASH_scierc_SLASH_mapped_SLASH_mech_SLASH_train.json
UnifiedData/scierc/mapped/mech_effect/dev.json
UnifiedData/scierc/mapped/mech_effect/test.json
UnifiedData/scierc/mapped/mech_effect/train.json
UnifiedData/scierc/mapped/mech_effect/cached/2396215478/params.json
UnifiedData/scierc/mapped/mech_effect/cached/2396215478/UnifiedData_SLASH_scierc_SLASH_mapped_SLASH_mech_effect_SLASH_dev.json
UnifiedData/scierc/mapped/mech_effect/cached/2396215478/UnifiedData_SLASH_scierc_SLASH_mapped_SLASH_mech_effect_SLASH_test.json
UnifiedData/scierc/mapped/mech_effect/cached/2396215478/UnifiedData_SLASH_scierc_SLASH_mapped_SLASH_mech_effect_SLASH_train.json
UnifiedData/scierc/original/dev.json
UnifiedData/scierc/original/test.json
UnifiedData/scierc/original/train.json
UnifiedData/srl/mapped/mech_effect.txt
UnifiedData/srl/mapped/mech.txt
UnifiedData/srl/mapped/mech/train.json
UnifiedData/srl/mapped/mech_effect/train.json
UnifiedData/srl/original/srl_sents.jsonl
cached/2396215478/params.json
combo/scierc_chemprot_srl/mapped/mech/dev.json
combo/scierc_chemprot_srl/mapped/mech/test.json
combo/scierc_chemprot_srl/mapped/mech/train.json
combo/scierc_chemprot_srl/mapped/mech/cached/2396215478/combo_SLASH_scierc_chemprot_srl_SLASH_mapped_SLASH_mech_SLASH_dev.json
combo/scierc_chemprot_srl/mapped/mech/cached/2396215478/combo_SLASH_scierc_chemprot_srl_SLASH_mapped_SLASH_mech_SLASH_test.json
combo/scierc_chemprot_srl/mapped/mech/cached/2396215478/combo_SLASH_scierc_chemprot_srl_SLASH_mapped_SLASH_mech_SLASH_train.json
combo/scierc_chemprot_srl/mapped/mech/cached/2396215478/params.json
combo/scierc_chemprot_srl/mapped/mech_effect/dev.json
combo/scierc_chemprot_srl/mapped/mech_effect/test.json
combo/scierc_chemprot_srl/mapped/mech_effect/train.json
combo/scierc_chemprot_srl/mapped/mech_effect/cached/2396215478/combo_SLASH_scierc_chemprot_srl_SLASH_mapped_SLASH_mech_effect_SLASH_dev.json
combo/scierc_chemprot_srl/mapped/mech_effect/cached/2396215478/combo_SLASH_scierc_chemprot_srl_SLASH_mapped_SLASH_mech_effect_SLASH_test.json
combo/scierc_chemprot_srl/mapped/mech_effect/cached/2396215478/combo_SLASH_scierc_chemprot_srl_SLASH_mapped_SLASH_mech_effect_SLASH_train.json
combo/scierc_chemprot_srl/mapped/mech_effect/cached/2396215478/params.json
combo/scierc_chemprot_srl_covid_anno_augment/mapped/mech/dev.json
combo/scierc_chemprot_srl_covid_anno_augment/mapped/mech/test.json
combo/scierc_chemprot_srl_covid_anno_augment/mapped/mech/train.json
combo/scierc_chemprot_srl_covid_anno_augment/mapped/mech/cached/2396215478/combo_SLASH_scierc_chemprot_srl_covid_anno_augment_SLASH_mapped_SLASH_mech_SLASH_dev.json
combo/scierc_chemprot_srl_covid_anno_augment/mapped/mech/cached/2396215478/combo_SLASH_scierc_chemprot_srl_covid_anno_augment_SLASH_mapped_SLASH_mech_SLASH_test.json
combo/scierc_chemprot_srl_covid_anno_augment/mapped/mech/cached/2396215478/combo_SLASH_scierc_chemprot_srl_covid_anno_augment_SLASH_mapped_SLASH_mech_SLASH_train.json
combo/scierc_chemprot_srl_covid_anno_augment/mapped/mech/cached/2396215478/params.json
combo/scierc_chemprot_srl_covid_anno_augment/mapped/mech_effect/dev.json
combo/scierc_chemprot_srl_covid_anno_augment/mapped/mech_effect/test.json
combo/scierc_chemprot_srl_covid_anno_augment/mapped/mech_effect/train.json
combo/scierc_chemprot_srl_covid_anno_augment/mapped/mech_effect/cached/2396215478/combo_SLASH_scierc_chemprot_srl_covid_anno_augment_SLASH_mapped_SLASH_mech_effect_SLASH_dev.json
combo/scierc_chemprot_srl_covid_anno_augment/mapped/mech_effect/cached/2396215478/combo_SLASH_scierc_chemprot_srl_covid_anno_augment_SLASH_mapped_SLASH_mech_effect_SLASH_test.json
combo/scierc_chemprot_srl_covid_anno_augment/mapped/mech_effect/cached/2396215478/combo_SLASH_scierc_chemprot_srl_covid_anno_augment_SLASH_mapped_SLASH_mech_effect_SLASH_train.json
combo/scierc_chemprot_srl_covid_anno_augment/mapped/mech_effect/cached/2396215478/params.json
combo/scierc_srl/mapped/mech/dev.json
combo/scierc_srl/mapped/mech/test.json
combo/scierc_srl/mapped/mech/train.json
combo/scierc_srl/mapped/mech_effect/dev.json
combo/scierc_srl/mapped/mech_effect/test.json
combo/scierc_srl/mapped/mech_effect/train.json
mech/config.json
mech/stderr.log
mech/stdout.log
UnifiedData/chemprot/mapped/mech_effect.txt
cached/2396215478/params.json
mech/config.json
mech/stderr.log
mech/stdout.log
UnifiedData/readme.docx
UnifiedData/covid_anno_par/gold/mech/test.json
UnifiedData/covid_anno_par/gold/mech_effect/test.json
cached/2396215478/params.json
mech/config.json
mech/stderr.log
mech/stdout.log
cached/2396215478/params.json
mech/config.json
mech/stderr.log
mech/stdout.log
